homework/.vs/
Homework/Homework_1/obj/
Homework/Homework_1/bin/Debug/netcoreapp3.1/Homework_1.deps.json
Homework/Homework_1/bin/Debug/netcoreapp3.1/Homework_1.pdb
Homework/Homework_1/bin/Debug/netcoreapp3.1/Homework_1.runtimeconfig.dev.json
Homework/.idea/
Homework/Homework_2/obj/
Homework/Homework_3/obj/
Homework/Homework_4/obj/
Homework/Homework_5/obj/